@font-face {
    font-family: Blanka;
    src: url("../../assets/Blanka-Regular.otf");
  }

.hero_wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  h1 {
    position: absolute;
    top: -10rem;
    left: 50%;
    transform: translateX(-50%);
    font-family: Blanka;
    font-size: 30rem;
    background-image: url(../../assets/space.jpg); 
    background-repeat: repeat; 
    background-size: 50%;
    background-clip: text;
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    text-align: center; 
    font-weight: bold; 
    text-transform: uppercase; 
    font-family: 'Steelfish Rg', 'helvetica neue', 
                helvetica, arial, sans-serif; 
    font-weight: 800; 
    -webkit-font-smoothing: antialiased; 
    filter: drop-shadow(10px 10px 10px rgba(14, 10, 44, 0.651));
  }

  .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  section {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .container {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  .source1 {
    width: 15px;
  height: 15px;
  border-radius: 10px;
  position: absolute;
  background: rgba(99, 107, 110, 0.788);
  top: -6rem;
  left: 0;
  offset-path: path(
    "M1521.96 907.969L0.369189 909.027L0.367798 907.027L1521.96 905.969L1521.96 907.969Z"
  );
  }
  .source2 {
    width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  background: rgba(255, 255, 255, 0.349);
  border: 1px solid #888;
  left: -4rem;
  top: -4rem;
  offset-path: path(
    "M430.524 428C431.366 428 432.048 428.979 432.048 430.186V502.257C432.048 504.57 432.467 505.686 432.913 506.294C433.395 506.952 434.182 507.391 435.425 507.556C436.662 507.719 438.123 507.587 439.771 507.386C440.002 507.358 440.237 507.329 440.475 507.299C441.88 507.123 443.386 506.935 444.816 506.935H1495.48C1496.32 506.935 1497 507.913 1497 509.12C1497 510.328 1496.32 511.306 1495.48 511.306H444.816C443.53 511.306 442.175 511.475 440.763 511.651C440.52 511.682 440.275 511.712 440.028 511.742C438.4 511.94 436.685 512.112 435.144 511.908C433.609 511.705 432.016 511.102 430.813 509.462C429.572 507.772 429 505.334 429 502.257V430.186C429 428.979 429.682 428 430.524 428Z"
  );
  }
  .source3 {
    width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  background: rgba(255, 255, 255, 0.568);
  border: 1px solid #616161;
  left: -4rem;
  top: -4rem;
  offset-path: path(
    "M11 483.518C11 482.68 11.6967 482 12.5562 482C27.063 482 41.9177 483.07 56.6627 484.131C65.0492 484.735 73.4003 485.336 81.6317 485.737C111.579 487.194 141.314 486.978 171.195 486.761C181.974 486.683 192.773 486.605 203.607 486.605C234.725 486.605 265.781 487.527 296.799 488.447L296.816 488.448C327.836 489.369 358.82 490.289 389.84 490.289H462.027C469.701 490.289 477.47 490.448 485.266 490.609C503.007 490.974 520.883 491.342 538.077 489.834C548.663 488.906 559.584 489.075 570.308 489.24C574.44 489.304 578.543 489.368 582.586 489.368C589.222 489.368 595.836 489.137 602.486 488.904L603.542 488.867C610.539 488.624 617.576 488.392 624.662 488.447C634.225 488.52 643.75 488.706 653.271 488.891C665.515 489.129 677.752 489.368 690.052 489.368C700.464 489.368 710.78 488.681 721.157 487.99L721.185 487.988C731.536 487.298 741.946 486.605 752.469 486.605H784.899C786.088 486.605 787.832 486.486 789.926 486.338L790.265 486.314C792.248 486.173 794.482 486.015 796.696 485.927C799.033 485.834 801.396 485.818 803.466 485.99C805.479 486.158 807.449 486.52 808.836 487.333C810.382 488.24 811.212 489.756 811.656 491.308C812.1 492.861 812.211 494.628 812.187 496.319C812.163 498.021 811.999 499.741 811.848 501.216L811.795 501.72C811.662 503.004 811.558 504.009 811.558 504.7C811.558 507.728 811.321 510.658 811.052 513.525C811 514.077 810.947 514.626 810.894 515.172C810.671 517.483 810.452 519.755 810.334 522.068C810.189 524.912 811.046 529.089 812.017 533.592L812.157 534.243C813.057 538.406 814 542.771 814 546.018V565.482C814 565.482 814 565.482 812.444 565.482C810.888 565.482 810.888 565.482 810.888 565.482V546.018C810.888 543.099 810.005 539.01 809.069 534.671L808.971 534.217C808.032 529.859 807.056 525.242 807.226 521.918C807.348 519.531 807.575 517.178 807.798 514.863C807.85 514.322 807.902 513.784 807.952 513.248C808.22 510.398 808.445 507.583 808.445 504.7C808.445 503.842 808.568 502.662 808.697 501.425C808.715 501.255 808.733 501.084 808.751 500.912C808.902 499.441 809.053 497.836 809.075 496.277C809.098 494.705 808.986 493.271 808.658 492.124C808.329 490.975 807.837 490.29 807.232 489.935C806.494 489.502 805.138 489.177 803.201 489.015C801.322 488.858 799.11 488.869 796.823 488.96C794.66 489.046 792.472 489.201 790.478 489.343L790.152 489.366C788.1 489.511 786.226 489.64 784.899 489.64H752.469C742.06 489.64 731.746 490.327 721.369 491.018L721.346 491.02C710.994 491.71 700.58 492.403 690.052 492.403C677.764 492.403 665.436 492.164 653.137 491.925C643.609 491.74 634.098 491.555 624.638 491.482C617.629 491.428 610.655 491.657 603.653 491.901L602.581 491.939C595.944 492.17 589.28 492.403 582.586 492.403C578.433 492.403 574.264 492.339 570.095 492.274C559.432 492.11 548.766 491.945 538.355 492.858C520.984 494.381 502.82 494.008 484.996 493.641C477.244 493.482 469.556 493.324 462.027 493.324H389.84C358.772 493.324 327.749 492.403 296.745 491.483L296.704 491.482C265.678 490.561 234.67 489.64 203.607 489.64C192.824 489.64 182.057 489.719 171.296 489.797C141.387 490.014 111.52 490.23 81.4766 488.769C73.0818 488.36 64.6597 487.753 56.2458 487.147C41.5948 486.09 26.9689 485.036 12.5562 485.036C11.6967 485.036 11 484.356 11 483.518ZM812.444 567C811.584 567 810.888 566.32 810.888 565.482L812.444 565.482L814 565.482C814 566.32 813.303 567 812.444 567Z"
  );
  }
  .source4 {
    width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  background: rgba(248, 248, 248, 0.863);
  border: 1px solid #000000;
  left: -8rem;
  top: -4rem;
  offset-path: path(
    "M1220.17 1041.88L1209.88 -12.1826L1212.88 -12.2119L1223.17 1041.86L1220.17 1041.88Z"
  );
  }
  .source5 {
    width: 0px;
  height: 0px;
  border: 50px solid transparent;
  border-right: 0;
  border-left: 75px solid rgb(19, 18, 18);
  position: absolute;
  background: rgba(41, 11, 11, 0);
  left: -4rem;
  top: -1.5rem;
  offset-path: path(
    "M1517 237H0V239H1517V237Z"
  );
  > img {
    width: 100%;
    height: 100%;
  }
  }
  .source6 {
    width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  background: rgba(255, 255, 255, 0.349);
  border: 1px solid #888;
  left: -5rem;
  top: -4rem;
  offset-path: path(
    "M814.16 662.317C814.989 662.317 815.66 662.989 815.66 663.817C815.66 664.497 815.755 665.728 815.879 667.334L815.893 667.515C816.021 669.169 816.169 671.131 816.242 673.06C816.316 674.978 816.319 676.924 816.142 678.535C816.053 679.34 815.915 680.115 815.693 680.786C815.496 681.379 815.184 682.05 814.638 682.544C814.636 682.548 814.634 682.552 814.632 682.556C814.578 682.665 814.503 682.849 814.412 683.128C814.23 683.682 814.027 684.475 813.806 685.5C813.368 687.543 812.892 690.368 812.394 693.743C811.4 700.485 810.337 709.315 809.332 718.232C808.552 725.157 807.808 732.121 807.16 738.187C806.974 739.929 806.796 741.597 806.627 743.169C806.249 746.688 805.917 749.727 805.649 752.028C805.406 754.108 805.205 755.673 805.061 756.42C805.031 764.373 802.752 811.222 800.479 857.956L800.478 857.982C798.187 905.097 795.901 952.089 795.901 959.42V959.529L795.886 959.636C794.365 970.088 794.296 981.129 794.615 992.276C794.729 996.253 794.893 1000.25 795.056 1004.25C795.349 1011.39 795.64 1018.5 795.64 1025.37C795.64 1026.2 794.968 1026.87 794.14 1026.87C793.311 1026.87 792.64 1026.2 792.64 1025.37C792.64 1018.55 792.353 1011.56 792.062 1004.47C791.898 1000.46 791.733 996.421 791.616 992.362C791.297 981.206 791.358 969.994 792.901 959.311C792.923 951.566 795.19 904.948 797.46 858.285L797.483 857.81C799.775 810.687 802.061 763.653 802.061 756.267V756.102L802.097 755.941C802.201 755.472 802.397 754.013 802.669 751.68C802.936 749.394 803.266 746.368 803.644 742.848C803.813 741.28 803.99 739.615 804.176 737.874C804.824 731.807 805.57 724.83 806.351 717.896C807.357 708.974 808.424 700.101 809.426 693.305C809.926 689.911 810.414 687.01 810.873 684.871C811.102 683.805 811.331 682.894 811.561 682.192C811.676 681.843 811.802 681.512 811.943 681.227C812.063 680.983 812.277 680.598 812.635 680.312C812.629 680.316 812.626 680.319 812.626 680.318C812.624 680.317 812.723 680.209 812.845 679.843C812.975 679.45 813.083 678.904 813.16 678.208C813.312 676.819 813.316 675.049 813.245 673.175C813.173 671.311 813.03 669.403 812.902 667.745C812.894 667.645 812.887 667.545 812.879 667.446C812.763 665.949 812.66 664.618 812.66 663.817C812.66 662.989 813.332 662.317 814.16 662.317ZM814.672 682.483C814.672 682.483 814.67 682.488 814.665 682.495C814.67 682.487 814.672 682.483 814.672 682.483Z"
  );
  }
  
  .source7 {
    width: 0px;
  height: 0px;
  border: 600px solid transparent;
  border-left: 0px;
  border-right: 1200px solid rgba(19, 18, 18, 0.678);
  position: absolute;
  left: -5rem;
  top: 20vh;
  offset-path: path(
    "M1517 237H0V239H1517V237Z"
  );
  }
}
